asgiref==3.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
cloudinary==1.44.0
distlib==0.3.9
Django==5.1.4
django-cloudinary-storage==0.3.0
django-debug-toolbar==4.4.6
Faker==33.1.0
filelock==3.18.0
idna==3.10
platformdirs==4.3.7
psycopg-binary==3.2.3
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.3
six==1.17.0
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.4.0
virtualenv==20.30.0
